@use "./colors" as *;
@use "./mixins" as *;


.bottom-section {
    .bottom-content {
        background: #fff;
        .best-selling {
            padding: 1rem 2rem;
            min-height: 15vh;
            @include alignflexstart;
            .content {
                min-height: 15vh;
                padding: 2rem 0;
                h1 {
                   font-size: 2rem;
                   margin-bottom: 1rem;
                    @include media1445px {
                        font-size: 2.8rem;
                        margin-bottom: 1rem;
                    }
                }
                button {
                    width: 100%;
                    padding: 0.5rem 1rem;
                    border: 1px solid black;
                    font-size: 1.2rem;
                    background: #fff;
                    cursor: pointer;
                    &:hover {
                        background: $gray;
                    }
                    @include media1445px {
                        width: 30%;
                    }
                }
            }
        }
        /*-----------Phone Selections-----------*/
        .phone-container {
            min-height: 48vh;
            @include center;
            .phone-content {
                min-height: 48vh;
                padding: 1rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                place-items: center;
                gap: 2rem;
                width: 100%;
                @include media1445px {
                    @include spacebetween;
                }


                .phone-col {
                    width: 50%;
                    text-align: center;

                    @include media1445px {
                        width: 25%;
                    }
                    img {
                        width: 100%;
                        margin-bottom: 3rem;
                        @include media1445px {
                            width: 30%;
                        }
                    }
                    h2 {
                        font-size: 0.8rem;
                        margin-bottom: 1rem;
                        @include media580px {
                            font-size: 1.2rem;
                        }

                        @include media1445px {
                            font-size: 2rem;
                        }
                    }
                    button {
                    padding: 0.5rem 1rem;
                    border: 1px solid black;
                    font-size: .8rem;
                    background: #fff;
                    cursor: pointer;
                    &:hover {
                        background: $gray;
                    }

                    @include media1445px {
                        font-size: 1.2rem;
                    }
                    }
                }
            }
        }
        .razr-container {
            padding: 1rem;
            min-height: 55vh;
            @include center;
            .razr-content {
                background: $gray;
                min-height: 55vh;
                padding: 2rem 0;
                @include spacebetween;
                flex-direction: column;

                @include media1445px {
                    flex-direction: row;
                }

                .razr-col {
                    width: 100%;
                    @include media1445px {
                        width: 50%;
                    }
                }

                .razr-left {
                    text-align: center;
                    
                    img {
                        width: 50%;
                        margin-bottom: 2rem;
                        @include media1445px {
                            width: 50%;
                            margin-bottom: 0;
                        }
                    }
                }

                .razr-right {
                    text-align: center;
                    @include media1445px {
                        text-align: left;
                    }
                    img {
                        margin-bottom: 1rem;
                    }
                    h1 {
                        font-size: 2rem;
                        margin-bottom: 1rem;
                        @include media1445px {
                        font-size: 4rem;
                        margin-bottom: 1rem;
                        }
                    }
                    p {
                        line-height: 1.5rem;
                        width: 80%;
                        margin: 0 auto;
                        margin-bottom: 1rem;
                        @include media1445px {
                            width: 80%;
                            margin: 0;
                            margin-bottom: 1rem; 
                        }
                    }
                    button {
                        margin-bottom: 1rem;
                        padding: 0.5rem 1rem;
                        background: $purple;
                        border: none;
                        font-size: 1.2rem;
                        color: #fff;
                        cursor: pointer;
                        &:hover {
                            background: $darkPurple;
                        }
                    }
                    a {
                        color: black;
                    }
                }
            }
        }
        .go5g-container {
            padding: 0 1rem;
            min-height: 30vh;
           
            .go5g-content {
                @include center;
                color: #fff;
                min-height: 30vh;
                background: $purple;
                text-align: center;
                padding: 2rem;
                h1 {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    @include media1445px {
                        font-size: 2rem;
                        margin-bottom: 1rem;
                    }
                }
                p {
                    margin-bottom: 1rem; 
                    a {
                        color: #fff;
                        font-size: 1.1rem;
                        text-decoration: none;
                    } 
                }
                small {
                    a {
                        color: #fff;
                    }
                }
            }
        }
        .free-phone-container {
            padding: 1rem;
            min-height: 55vh;
            .free-content {
                @include spacebetween;
                flex-direction: column;
                min-height: 55vh;
                background: $purple;
                gap: 2rem;
                color: #fff;
                padding: 2rem 0;

                @include media1445px {
                    flex-direction: row;
                }
                .free-col {
                    width: 100%;
                    @include media1445px {
                        width: 50%;
                    }
                }
                .free-left {
                    text-align: center;
                    @include media1445px {
                        text-align: right;
                    }
                    img {
                        width: 50%;
                        @include media1445px {
                            width: 50%;
                        }
                    }
                }
                .free-right {
                    text-align: center;
                    @include media1445px {
                        text-align: left;
                    }
                    .title {
                        font-size: 1.8rem;
                        width: 80%;
                        margin: 0 auto;
                        margin-bottom: 1rem;
                        @include media1445px {
                        font-size: 2.5rem;
                        width: 80%;
                        margin: 0;
                        margin-bottom: 1rem;
                        }
                    }
                    p {
                       
                        width: 80%;
                        margin: 0 auto;
                        margin-bottom: 1rem;
                        @include media1445px {
                           
                            width: 80%;
                            margin: 0;
                            margin-bottom: 1rem;
                        }
                    }
                    button {
                        padding: 0.5rem 1rem;
                        background: #fff;
                        border: 1px solid black;
                        font-size: 1.2rem;
                        cursor: pointer;
                        margin-bottom: 1rem;
                        &:hover {
                            background: $gray;
                        }
                    }
                    a {
                        color: #fff;
                    }
                }
            }
        }
        
    }
}