@use "./colors" as *;
@use "./mixins" as *;


.top-banner-section {
    @include center;
    min-height: 7vh;
    margin-top: 0.3rem;
    .top-banner {
        @include center;
        min-height: 7vh;
        background: $purple;
        padding: 1rem;
        p {
            color: #fff;
            line-height: 1.8rem;
            a {
                color: #fff;
            }
        }
    }
}

.section-top {
    min-height: 100vh;
    .white-space {
        background: #fff;
        min-height: 2vh;
    }
    .bg-pink-container {
        background: $purple;
        padding: 1rem;
        
        .bg-pink-content {
            background: $offBlack;
            min-height: 52vh;
            padding: 1rem 0;
            @include spacebetween;
            flex-direction: column;
            @include media1445px {
                @include spacebetween;
                flex-direction: row;
            }
            

            .bg-col {
                
                width: 100%;
                @include media1445px {
                    width: 50%;
                }
            }
            .bg-pink-left {
                text-align: center;
                h1 {
                    font-size: 3rem;
                    line-height: 5rem;
                    @include media1445px {
                    font-size: 5rem;
                    width: 50%;
                    margin: 0 auto;
                    line-height: normal;
                    }
                }
                .white-text {
                    color: #fff;
                    margin-bottom: -2rem;
                }
                .purple-text {
                    color: $purple;
                }
            }
            .bg-pink-right {
                color: #fff;
                text-align: center;
                @include media1445px {
                    text-align: left;
                }
                h1 {
                    font-size: 2rem;
                    margin-bottom: 1rem;
                    line-height: 2.3rem;
                    @include media1445px {
                        line-height: normal;
                        width: 85%;
                    }
                }
                p {
                    line-height: 1.5rem;
                    width: 85%;
                    margin: 0 auto;
                    margin-bottom: 1rem;
                    @include media1445px {
                        width: 85%;
                        margin: 0;
                        margin-bottom: 1rem;
                    }
                }
                .switch-btn {
                   padding: 0.5rem 1rem;
                   margin-bottom: 1rem;
                   background: $purple;
                   color: #fff;
                   border: none;
                   font-size: 1.2rem;
                   cursor: pointer;
                   &:hover {
                    background: $darkPurple;
                   }
                }
                a {
                    color: #fff;

                }
            }
        }
    }
}

/*----------White Background Section-----------*/
.white-bg-container {
    min-height: 52vh;
    background: #fff;
    margin-top: 1rem;
    padding: 1rem 0;
    @include spacebetween;
    flex-direction: column;
    @include media1445px {
        @include spacebetween;
        flex-direction: row;
    }
    
    .white-col {
        width: 100%;
        @include media1445px {
            width: 50%;
            
        }
    }
    .white-right {
        text-align: center;
        img {
            width: 100%;
            @include media1445px {
                width: 50%;
            }
        }
    }

    .white-left {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        @include media1445px {
            text-align: left;
        }
        h1 {
            width: 90%;
            font-size: 2rem;
            margin: 0 auto;
            margin-bottom: 1rem;
            @include media1445px {
            font-size: 2.8rem;
            width: 52%;
            margin: 0 auto;
            margin-bottom: 1rem;
            }
        }
        p {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 1rem;


            @include media1445px {
            width: 52%;
            margin: 0 auto;
            line-height: 1.5rem;
            margin-bottom: 1rem;
            }
            a {
                color: black;
            }
            
        }
        .btn-div {
            @include media1445px {
                width: 52%;
                margin: 0 auto;
            }
            .shop-btn {
                padding: 0.5rem 1rem;
                font-size: 1.2rem;
                background: $purple;
                border: none;
                color: #fff;
                margin-bottom: 1rem;
                cursor: pointer;
                &:hover {
                    background: $darkPurple;
                }
        }
        }
    }
}

/*--------------------Middle Banner---------------*/
.middle-banner {
min-height: 25vh;
@include center;
flex-direction: column;
text-align: center;
width: 80%;
margin: 0 auto;
color: #fff;
padding: 2rem 0;

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    @include media1445px {
        font-size: 2.8rem;
        margin-bottom: 1rem;
    }
}
}

/*------------------------Black Background Section--------*/
.black-bg-container {
    background-color: $offBlack;
    min-height: 45vh;
    padding: 2rem 0;
    @include spacebetween;
    flex-direction: column;
    @include media1445px {
        flex-direction: row;
    }

    .black-col {
        width: 100%;
        @include media1445px {
            width: 50%;
        }
    }
    .black-bg-left {
       .content {
        width: 100%;
        text-align: center;
        color: #fff;
        margin-bottom: 1rem;
        h1 {
            font-size: 4rem;
            color: $purple;
            @include media1445px {
                font-size: 6rem;
            }
            
        }
        @include media1445px {
            width: 50%;
            margin: 0 auto;
        }
        
       }
    }
    .black-bg-right {
        color: #fff;
        text-align: center;
        @include media1445px {
            text-align: left;
        }
        h1 {
            font-size: 2.8rem;
            margin-bottom: 1rem;
        }
        p {
           
            width: 80%;
            margin: 0 auto;
            margin-bottom: 1rem;
            @include media1445px {
            width: 85%;
            line-height: 1.5rem;
            margin: 0;
            margin-bottom: 1rem;
            }
        }
        .go-btn {
            padding: 0.5rem 1rem;
            background: $purple;
            font-size: 1.2rem;
            border: none;
            color: #fff;
            margin-bottom: 1rem;
            cursor: pointer;
            &:hover {
                background: $darkPurple;
            }
        }
    }
}