@use "./colors" as *;
@use "./mixins" as *;


.bottom-2-section {
    min-height: 80vh;
    .container {
        width: min(90%, 100rem);
        margin-inline: auto;
        .bottom-content {
            @include spacebetween;
            flex-direction: column;
            gap: 1rem;
            background: #fff;
            padding: 0 1rem 1rem 1rem;
            min-height: 80vh;

            @include media1445px {
                flex-direction: row;
            }
            .bottom-col {
                width: 100%;
                min-height: 80vh;
                background: $purple;

                @include media1445px {
                    width: 50%;
                }
            }
            .two-content-left {
                background-image: url(/image/t-mobile-bg.webp);
                background-repeat: no-repeat;
                background-position: right;
                background-size: cover;
                color: #fff;
                text-align: center;
                @include center;
                flex-direction: column;
                h1 {
                    font-size: 2.8rem;
                    margin-bottom: 1rem;
                }
                p {
                    margin-bottom: 1rem;
                }
                button {
                    padding: 0.5rem 1rem;
                    border: 1px solid #fff;
                    color: #fff;
                    background: transparent;
                    font-size: 1.2rem;
                    cursor: pointer;
                    margin-bottom: 1rem;
                    
                }
                a {
                    color: #fff;
                }
            }
            .two-content-right {
                @include center;
                flex-direction: column;
                text-align: center;
                color: #fff;
                img {
                    width: 100%;
                    margin-bottom: 1rem;
                    @include media1445px {
                        width: 50%;
                    }
                }
                h1 {
                    font-size: 2rem;
                    width: 80%;
                    margin: 0 auto;
                    margin-bottom: 1rem;
                }
                p {
                    width: 80%;
                    margin: 0 auto;
                    margin-bottom: 1rem;
                }
                button {
                    padding: 0.5rem 1rem;
                    border: 1px solid #fff;
                    color: #fff;
                    background: transparent;
                    font-size: 1.2rem;
                    cursor: pointer;
                    margin-bottom: 1rem;
                   
                }
                a {
                    color: #fff;
                }
            }
            
        }


        
    }
}