@use "./colors" as *;
@use "./mixins" as *;


.middle-section {
    .middle-content {
        background: #fff;
        padding: 1rem;
        .black-bg {
            @include center;
            flex-direction: column;
            background: $offBlack;
            min-height: 48vh;
            color: #fff;
            text-align: center;
            padding: 2rem 1rem;
            img {
                margin-bottom: 1rem;
            }
            h1 {
                font-size: 2rem;
                line-height: 2.2rem;
                margin-bottom: 1rem;
                @include media1445px {
                    font-size: 2.8rem;
                margin-bottom: 1rem;
                }
            }
            p {
                margin-bottom: 1rem;
            }
            .check {
                @include center;
                flex-direction: column;

                @include media1445px {
                    flex-direction: row;
                }
                margin-bottom: 1rem;
                button {
                    border: none;
                    background: $purple;
                    padding: 0.5rem 1rem;
                    font-size: 1.2rem;
                    color: #fff;
                    margin-right: 1rem;
                    margin-bottom: 1rem;
                    cursor: pointer;
                    &:hover {
                        background: $darkPurple;
                    }
                    @include media1445px {
                        margin-bottom: 0;
                    }
                }
            }
               
            a {
                color: #fff;
            }
        }
        /*----------------Gray Background Section----*/
        .gray-bg-container {
            background: $gray;
            min-height: 55vh;
            margin-top: 1rem;
            @include center;
            .gray-content {
                @include spacebetween;
                flex-direction: column;
                padding: 2rem 0;

                @include media1445px {
                    flex-direction: row;
                }
                .gray-col {
                    width: 100%;
                    @include media1445px {
                        width: 50%;
                    }
                }
                .gray-left {
                    text-align: center;
                }
                .gray-right {
                    text-align: center;
                    @include media1445px {
                        text-align: left;
                    }
                    p {
                        
                        width: 60%;
                        margin: 0 auto;
                        margin-bottom: 1rem;
                        @include media1445px {
                        
                        margin: 0;
                        margin-bottom: 1rem;
                        width: 85%;
                        line-height: 1.5rem;
                        }
                    }
                    h1 {
                        
                        font-size: 2rem;
                        width: 60%;
                        margin: 0 auto;
                        margin-bottom: 1rem;
                        @include media1445px {
                        margin-bottom: 1rem;
                        margin: 0;
                        font-size: 2.8rem;
                        width: 85%;
                        }
                      
                    }
                    
                        .shop-now {
                            .btn-div {
                                margin-bottom: 1rem;
                                @include spacebetween;
                                flex-direction: column;

                                @include media1445px {
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    flex-direction: row;
                                }
                                button {
                                border: 1px solid black;
                                background: #fff;
                                padding: 0.5rem 1rem;
                                font-size: 1.2rem;
                                margin-right: 1.5rem;
                                margin-bottom: 1rem;
                                cursor: pointer;
                                &:hover {
                                    background: $gray;
                                }

                            }
                            a {
                                color: black;
                            }
                        }
                    }
                    
                    
                }
            }
        }

         /*------------Pink Background Section-------------*/
    .pink-bg-container {
        min-height: 52vh;
        margin-top: 1rem;
       @include center;

        .pink-bg-content {
            min-height: 52vh;
            padding: 2rem 0;
            background: $purple;

            @include spacebetween;
            flex-direction: column;
            @include media1445px {
                flex-direction: row;
            }

            .pink-col {
                width: 100%;
                @include media1445px {
                    width: 50%;
                }
            }
            .pink-bg-left {
                color: #fff;
                text-align: center;
                @include media1445px {
                    text-align: left;
                }

                p {
                    width: 80%;
                    margin: 0 auto;
                    margin-bottom: 1rem;
                    @include media1445px {
                    width: 52%;
                    margin: 0 auto;
                    margin-bottom: 1rem;
                    line-height: 1.5rem;
                    }
                }
                .title-div {
                    margin-bottom: 1rem;
                    h1 {
                        font-size: 2rem;
                        
                        @include media1445px {
                        width: 52%;
                        margin: 0 auto;
                        font-size: 2.8rem;
                        }
                        
                    }
                }
                
                a {
                    color: #fff;
                }
                .btn-div {
                    @include media1445px {
                        width: 52%;
                        margin: 0 auto;
                    }
                    .shop-btn {
                        
                        padding: 0.5rem 1rem;
                        font-size: 1.2rem;
                        background: #fff;
                        border: 1px solid black;
                        margin-bottom: 1rem;
                        cursor: pointer;
                        &:hover {
                            background: $gray;
                        }
                        
                    }
                }
                
            }
            .pink-bg-right {
                text-align: center;
                img {
                    width: 100%;
                    @include media1445px {
                        width: 50%;
                    }
                }
            }

        }
        }


        .galaxy-container {
            margin-top: 1rem;
            min-height: 52vh;
            .galaxy-content {
                min-height: 52vh;
                padding: 2rem 0;
                background: linear-gradient(to right, $purple, $darkGray, $offBlack);
                @include spacebetween;
                flex-direction: column;
                @include media1445px {
                    flex-direction: row;
                }
                color: #fff;
                .galaxy-col {
                    width: 100%;

                    @include media1445px {
                        width: 50%;
                    }
                }
                .galaxy-left {
                    text-align: center;
                    @include media1445px {
                        text-align: right;
                    }
                    img {
                        width: 100%;
                        @include media1445px {
                            width: 50%;
                        }
                    }
                }
                .galaxy-right {
                   text-align: center;
                   @include media1445px {
                    text-align: left;
                   }
                    p {
                        width: 80%;
                        margin: 0 auto;
                        margin-bottom: 1rem;
                        @include media1445px {
                        
                        width: 75%;
                        margin: 0;
                        margin-bottom: 1rem;
                        }
                    }
                    h1 {
                        width: 80%;
                        margin: 0 auto;
                        margin-bottom: 1rem;
                        font-size: 2rem;
                        @include media1445px {
                        font-size: 2.8rem;
                        width: 75%;
                        margin: 0;
                        margin-bottom: 1rem;
                        }
                    }
                    h2 {
                        margin-bottom: 1rem;
                    }
                    a {
                        color: #fff;
                    }
                    button {
                       
                        padding: 0.5rem 1rem;
                        font-size: 1.2rem;
                        background: #fff;
                        border: 1px solid black;
                        margin-bottom: 1rem;
                        cursor: pointer;
                        &:hover {
                            background: $gray;
                        }
                    }

                }
            }
        }
    }
   
    
}

