@mixin spacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin alignflexstart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin spacebetweenAlignStart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*----------------Media Query-------------*/
@mixin media1445px {
    @media (min-width: 1445px) {
        @content;
    }
}