@mixin spacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin alignflexstart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}