@use "./colors" as *;
@use "./mixins";
@use "./navbar";
@use "./hero";
@use "./midsection";
@use "./bottomsection";
@use "./lowerbottom";
@use "./footer";

* {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
body {
    scroll-behavior: smooth;
    background: $gray;
}
.wrapper {
    width: min(90%, 100rem);
    margin-inline: auto;
}